<% provide(:title, 'Patient 1 Chart') %>
<body>
	<div class="container">
		<h1>Patient 1 Chart</h1>
		<%= link_to "Edit Patient 1 Profile", editpatient_path %>
		<br>
		<%= link_to "Patient 1 Vitals", vitals_path %>
		<br>
		<%= link_to "Patient 1 Completed Tasks", tasks_path %>
	</div>
</body>