<% provide(:title, 'Edit Patient 1 Profile') %>
<body>
	<div class="container">
		<h1>Edit Patient 1 Profile</h1>
		<p>Name:</p>
		<p>Address:</p>
		<%= link_to "Save", {controller: :patient, action: "chart"}, {class: "btn btn-md btn-primary"} %>
	</div>
</body>