<% provide(:title, 'Welcome to Quick Vitals') %>
<body>
	<div class="container">
		<h1>Welcome to Quick Vitals!</h1>
		<%= link_to registerpatient_path do %>
			<div class="well btn btn-md btn-primary col-sm-6">
				<h1 style="text-align: center;">Register Patient</h1>
			</div>
		<% end %>
		
		<%= link_to filter_path do %>
			<div class="well btn btn-md btn-primary col-sm-6">
				<h1 style="text-align: center;">Find Patient</h1>
			</div>
		<% end %>
	</div>
</body>
