<head>
	<title>Welcome to Quick Vitals</title>
</head>
<body>
	<div class="container">
		<h1>Welcome to Quick Vitals</h1>
		<%= link_to "New Patient", new_path %>
		<br>
		<%= link_to "Search", search_path %>
	</div>
</body>