<head>
	<title>New Patient</title>
</head>
<body>
	<div class="container">
		<h1>New Patient</h1>
		<p>Name:</p>
		<p>Address:</p>
		<%= link_to "Create", {controller: :patient, action: "home"}, {class: "btn btn-md btn-primary"} %>
	</div>
</body>