<% provide(:title, 'New Patient Task') %>
<body>
	<div class="container">
		<p>Task Description</p>	
		<%= link_to "Cancel", {controller: :patient, action: "chart"}, {class: "btn btn-md btn-primary"} %>
		<%= link_to "Save", {controller: :patient, action: "chart"}, {class: "btn btn-md btn-primary"} %>
	</div>
</body>