<% provide(:title, 'Search') %>
<script>
		function filter(){
			var nameInput = document.getElementById('searchNameInput').value;
			var patients = document.getElementsByClassName('well');
			var length = patients.length;
			for(var i = 0; i < length; i++){
				var matchesFilter = false;
				var patientInfo = patients[i].getElementsByTagName("div")[0].getElementsByTagName("p");
				var infoLength = patientInfo.length;
				for(var j = 0; j < infoLength; j++){
					var text = patientInfo[j].textContent || patientInfo[j].innerText || '';
					if(text.toLowerCase().indexOf(nameInput.toLowerCase()) > -1){
						matchesFilter = true;
						break;
					}
				}
				if(!matchesFilter){
					patients[i].style.display = 'none';
				} else {
					patients[i].style.display = 'block';
				}
			}
		}
</script>
<body>
	<div class="container">
		<h1>Search</h1>
		<div style="float:left; width:20%">
			This is some placeholder text. The search input form will go here. Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text
			<form>
				<input type="text" id="searchNameInput" onkeyup="filter()"/>
			</form>
		</div>
		<div style="float:left; width:80%">
			<% @patients.each do |id, patient| %>
				<div style="width:100%; height:150px; display:block" class="well" >
					<!-- TODO: get picture from patient object, rather than external url -->
					<!-- TODO: get card to fit to contents -->
					<img src="http://www.cagealotcastle.com/avatar?id=1522930&m=73&t=1375359483" height="100px" width="100px" style="float:left"></img>
					<div style="float:left; width:80%" >
						<p><%= link_to "#{patient[:firstName]} #{patient[:lastName]}", chart_path(id) %></p>
						<p><%= patient[:gender] %></p>
						<p><%= patient[:dob] %></p>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</body>