<% provide(:title, 'Search') %>
<body>
	<div class="container">
		<h1>Search</h1>
		<% @patients.each do |id, patient| %>
			<p><%= link_to "#{patient[:firstName]} #{patient[:lastName]}", chart_path(id) %></p>
			<p><%= patient[:gender] %></p>
			<p><%= patient[:dob] %></p>
			<br>
		<% end %>
	</div>
</body>