<% provide(:title, 'Patient 1 Completed Tasks') %>
<body>
	<div class="container">
		<h1>Patient 1 Completed Tasks</h1>
		<ul>
			<li>Completed Task 1</li>
			<li>Completed Task 2</li>
			<li>Completed Task 3</li>
			<li>Completed Task 4</li>
			<li>Completed Task 5</li>
			<li>Completed Task 6</li>
			<li>Completed Task 7</li>
			<li>Completed Task 8</li>
			<li>Completed Task 9</li>
			<li>Completed Task 10</li>
		</ul>
	</div>
</body>