<% provide(:title, "#{@patientName} Completed Tasks") %>
<body>
	<div class="container">
		<h1><%= @patientName %> Completed Tasks</h1>
		<ul>
			<% if @tasksCompleted.length == 0 %>
				<li>None</li>
			<% else %>
				<% @tasksCompleted.each do |task, dateTime| %>
					<li><%= task %> - <%= dateTime %></li>
				<% end %>
			<% end %>
		</ul>
	</div>
</body>