<% provide(:title, "#{@patientName} Vitals") %>
<body>
	<div class="container">
		<h1><%= @patientName %> Vitals</h1>
		<% @vitals.each do |id, vital| %>
			<%= link_to vital_path(@patientID, id) do %>
				<button class="btn btn-success col-sm-5" style="margin-bottom: 20px">
					<h4><%= vital[:name] %></h4>
				</button>
			<% end %>
		<% end %>
	</div>
</body>
