<% provide(:title, 'Patient 1 Vitals') %>
<body>
	<div class="container">
		<h1>Patient 1 Vitals</h1>
		<ul>
			<li>Vital 1</li>
			<li>Vital 2</li>
			<li>Vital 3</li>
			<li>Vital 4</li>
			<li>Vital 5</li>
			<li>Vital 6</li>
			<li>Vital 7</li>
			<li>Vital 8</li>
			<li>Vital 9</li>
			<li>Vital 10</li>
		</ul>
	</div>
</body>