<% provide(:title, 'Patient 1 Vitals') %>
<body>
	<div class="container">
		<h1>Patient 1 Vitals</h1>
		<% @vitals.each do |vital| %>
			<%= link_to vital_path(vital) do %>
				<div class="well col-sm-4">
					<h4>Vital <%= vital %></h4>
					<p>Insert graph here</p>
				</div>
			<% end %>
		<% end %>
	</div>
</body>