<% provide(:title, "#{@patientName} #{@vitalName}") %>
<body>
	<div class="container">
		<h1><%= @vitalName %></h1>
		<svg id="vitalChart"></svg>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Time</th>
					<th>Value</th>
				</tr>
			</thead>
			<tr>
				<td>Date1</td>
				<td>Time1</td>
				<td>Value1</td>
			</tr>
			<tr>
				<td>Date2</td>
				<td>Time2</td>
				<td>Value2</td>
			</tr>
			<tr>
				<td>Date3</td>
				<td>Time3</td>
				<td>Value3</td>
			</tr>
		</table>
		<br>
		<%= link_to "Add measurement", vital_path(@patientID, @vitalID), {class: "btn btn-md btn-primary"} %>
	</div>
</body>
