body {
  background-color: #9FC5E8;
}

.breadcrumb {
  background-color: #0B5394;
  border-radius: 0px;

  li {
    color: white;

    a {
      color: #CFE2F3;
    }
  }
}

.well {
  background-color: #CFE2F3;
}

.btn-primary {
  background-color: #6AA84F;
  border: none;
  color: white;
}

.btn-primary:hover {
  background-color: #38761d;
}

.modal-content {
  background-color: #CFE2F3;
}

tr.danger td {
  color: white;
  background-color: #C25B56 !important;
}
